@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    padding: 0 15px;
}

:root {
    font-size: 24px;
}

.container {
    max-width: 1000px;
    padding: 0.7rem;
    margin: 1rem auto;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    border-radius: 12px;
}

.section {
    max-width: 40ch;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section > p::first-letter {
    font-weight: 700;
    font-size: 1.2em;
}


h1,h2,h3,h4,h5,h6 {
    font-size: 1.5em;
    text-align: center;
    margin: 0.8rem 0 0.4rem 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.4rem;
}

.photo {
    display: block;
    margin: 1rem auto;
    max-width: 40ch;
    border-radius: 8px;
    /* border: 1px solid #000; */
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0,0,0,0.25);
}

@media (max-width: 700px) {
    :root{
        font-size: 18px;
    }
}

